<div class="about-section">
    <h1>About Us Page</h1>
    <p>Self-motivated Cloud Platform DevOps enthusiast with comprehensive knowledge and       4.5+ years of working experience in IT industry. Passionate about Continuous Integration/Delivery, Cloud Computing, Automation and Containerization at scale.
        I love cloud and automation. I put a big emphasis on automation and does love solving the challenges that come with this approach.
        </p>
    <p>DevOps/Cloud Engineer</p>
  </div>
  
  <h2 style="text-align:center">About Me</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <!-- <img src="shashank.jfif" alt="Jane" style="width:100%"> -->
        <div class="container">
          <h2>Shashank Bhandari</h2>
          <p class="title">CEO & Founder</p>
          <p>Feel to contact on below mentioned Email ID</p>
          <p>shashankbhandari1994@gmail.com.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
